@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: grid;
    grid-template-rows: repeat(12, 1fr); 
    grid-template-columns: repeat(12, 1fr); 
    background-color: white;
    font-family: 'Poppins';
    gap: 20px 20px;
    height: calc(100vh - (2*15px) - 1rem);
    margin: 1rem;
}

.divs{
    border-radius: 15px;
    place-items: center;
    display: grid;
    box-shadow: 10px 10px 30px  rgba(0, 0, 0, 0.25);
}

#dash{
    grid-row: 1/13 ;
    grid-column: 1/3;

    background: linear-gradient(to top, #FA8500 80%, #FDB768 100%);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

.barra{
    display: flex;
    align-items: center; 
    padding-left: 20px; 
    margin-top: 10px; 
    font-size: 10px;
}

.barra img{
    width: 20px; 
    height: 24px;
    margin-right: 10px; 
}

.logout{
    display: flex;
    align-items: center; 
    padding-left: 20px; 
    margin-top: 50px; 
    font-size: 10px;
}

.logout img{
    width: 20px; 
    height: 24px;
}

.chapeu{
    width: 8rem;
    margin-top: 2rem;
}

#pesquisa{
    grid-row: 1/1;
    grid-column: 3/7;

    height: 40px;
    border-radius: 30px;
}

#pesquisa p{
    margin-left: 270px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.306);
    font-size: 13px;
}

.perfil {
    grid-column: 10;
    grid-row: 1;
    margin-right: 10px;
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.perfil img {
    width: 50px; 
    height: auto;
    border-radius: 50%; 
}

.perfil div {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.perfil p {
    margin: 0; 
    font-size: 14px;
    white-space: nowrap;
}

.sino{
    display: grid;
    grid-row: 1 / 1;
    grid-column: 12 / 12;
}

#sinoluana{
    grid-row: 3 / 7;
    grid-column: 6 / 8;
}

.year {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6); 
}

#welcome {
    grid-row: 2/6;
    grid-column: 3/13;
    display: flex; 
    background: linear-gradient(to right, #FA8500 80%, #FDB768 100%);
    padding: 70px;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.date {
    font-size: 12px;
}

.welcometext {
    font-size: 27px;
    margin: 0px; 
}

.always {
    font-size: 12px;
    margin: 0px;
}


#foto{
    width: 350px;
    height: auto;
    margin-left: 20px; 
    margin-bottom: 19px;
}

#dez {
    grid-row: 7/10; 
    grid-column: 3/5; 
    position: relative;
}

#dez, #cinco, #tres {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0px;
}

.hum {
    font-size: 15px;
    text-align: center;
    line-height: 1; 
    margin: 0; 
}

.pe {
    font-size: 10px;
    text-align: center;
    line-height: 1,5;
    margin-top: 0px;
}

.finance {
    position: absolute; 
    top: -50px; 
    left: 10px; 
    color: black; 
    font-size: 20px; 
    font-weight: bold; 
}
#cinco{
    grid-row: 7/10;
    grid-column: 5/7;
    
    border:  2.605px solid #FA8500;
    background-color: #FFEBDC;
    display: flex;
}

.icone{
    margin-bottom: 0px;
    width: 50px;
}

#tres{
    grid-row: 7/10;
    grid-column: 7/9;
}

#object {
    grid-row: 11/13; 
    grid-column: 3/6; 
    position: relative; 
    border:  2.605px solid #FA8500;
    background-color: #FFEBDC;
}

.objecttext {
    position: absolute; 
    top: -60px; 
    left: 10px; 
    color: black; 
    font-size: 20px; 
    font-weight: bold; 
}

#fund {
    grid-row: 11/13; 
    grid-column: 6/9; 
    position: relative; 
}


.fundtext {
    position: absolute; 
    top: -60px; 
    right: 10px; 
    color: black; 
    font-size: 20px; 
    font-weight: bold; 
    
}

#daily {
    grid-row: 9/13;
    grid-column: 9/13;
    position: relative;
}

.dailyleft {
    position: absolute;
    top: -60px;
    left: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.dailyright {
    position: absolute;
    top: -60px;
    right: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.titulo{
    font-size: 13px;
}

.textotodo{
    font-size: 12px;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin: 15px;
    margin-top: -8px;
    line-height: 12px;
}

.dailyimg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    
}

.dailytitle {
    position: absolute;
    top: -140px; 
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: -205px;
}

.images-container {
    display: flex;
    justify-content: space-around;
    margin-top: -120px; 
    margin-bottom: 10px; 
    margin-right: 300px;
}

.images-container img {
    width: 30%;
    height: auto;
}




